

body{

	height:1000px;
	width:960px;
	margin: 10px 0px;
	margin-left: 100px;
	padding:10px;
	font-family: Arial;
	font-size: 15px;

}

.container {

	width:960px;
	margin: 0px auto;
	padding: 15px;
	
}

nav {
	
	padding-left: 0px;
	margin-left: 0px;
	
}

nav ul{

	padding-left: 0px;
	margin-left: 0px;
}

nav ul li {

	display: inline;
	padding: 20px;
	margin-left: 0px;
	padding-left: 0px;
	
}

a:link {

	text-decoration: none;
	
}

a:visited{

	color:black;
}

a:hover {

	color:#70d0ff;
}


